:root {
    color-scheme: dark;

    --background-color: #222;
    --accent-color: #333;
    --text-color: #e6e6e6;
    --text-color2: #dadada;
    --link-color: var(--text-color);
    --link-hover-color: rgb(180, 180, 180);

    --form-border: #ddd;
    --form-color: #fff;
	--form-shadow: rgba(0, 0, 0, .07);

	--font-size: 1.2em;
    --error: rgb(129, 29, 29);
	--error-dark: rgb(94, 21, 21);
	--info: rgb(66, 129, 29);
	--info-dark: rgb(66, 94, 29);

    --header-bg: var(--accent-color);
    --header-outer-height: 110px;
	--header-inner-height: 70px;
	--header-height-difference: calc(
		var(--header-outer-height) - var(--header-inner-height)
	);
}

body {
    background: var(--background-color);
    color: var(--text-color);

    font-family: "Poppins", sans-serif;
    margin: 0;
}

 header {
    z-index: 999;
}

header p {
    float: right;
    font-size: 1.8em;
}

.responsive-wrapper {
	width: 90%;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}

/* Sticky header */
.header-outer {
	/* Make it stick */
	height: var(--header-outer-height);
	position: sticky;
	top: calc(
		var(--header-height-difference) * -1
	); /* Multiply by -1 to get a negative value */
	display: flex;
	align-items: center;

	/* Other */
	background-color: var(--header-bg);
	box-shadow: 0 2px 10px 0 rgba(0,0,0, 0.1);
}

.header-inner {
	/* Make it stick */
	height: var(--header-inner-height);
	position: sticky;
	top: 0;

	/* Other */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-navigation {
	display: flex;
	flex-wrap: wrap;
}

.header-navigation a,
.header-navigation button {
	font-size: 1.125rem;
	color: inherit;
	margin-left: 1.75rem;
	position: relative;
	font-weight: 500;
}

.header-navigation a {
    display: inline-block;
	font-size: 1.125rem;
	color: inherit;
	text-decoration: none;
}

.header-navigation a:hover:after,
.header-navigation button:hover:after {
	transform: scalex(1);
}

.header-navigation a:after,
.header-navigation button:after {
	transition: 0.25s ease;
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: currentcolor;
	transform: scalex(0);
	position: absolute;
	bottom: -2px;
	left: 0;
}

nav .iconify {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.main-content {
    background-color: var(--accent-color);

    position: relative;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    margin-top: 4.66%;
    padding: 0;
    
    width: 85%;
    max-height: 100%;
    min-height: 250px;
    border-radius: 12px 12px 0 0;
}

.main-content div:first-child {
    padding: 10px 20px 20px 20px;

    max-height: 90%;
    width: 100%;
}

button {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    color: var(--link-hover-color);
}

h1 {
    margin-left: 15px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 94%;
}

table p {
    text-align: center;
    font-size: 1.5em;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even)  {
    background-color: #1a1a1a;
}

.main-content table tr:hover {
    background-color: rgb(80, 80, 80);
    color: var(--text-color2);
}

body .main-content tr:first-child:hover {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.floorplan {
    text-align: center;
}

.floorplan img {
    margin: 0;
    margin-top: 80px;
    padding: 0;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    text-align: left;
    background-color: var(--accent-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 12px;
    display: block;
}

.modal-content input, .modal-content label {
    display: block;
}

.modal-content input {
    margin: 0 12px 15px;
    border: 1px solid var(--form-border);
	box-shadow: 0 1px 2px var(--form-shadow) inset;
	outline: 0 none;
	/* margin: 1px; */
	padding: 3px 5px;
	border-radius: 3px;
	font-size: var(--font-size);
	font-weight: inherit;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	line-height: 1.4em;
	width: 400px;
}
.modal-content label {
    margin: 25px 0 0;
    padding: 10px;
    font-size: var(--font-size);
}

.modal-content button {
    box-shadow: 0 1px 0 var(--shadow-color);
	vertical-align: top;
	border-radius: 3px;
	border-style: solid;
	border-width: 1px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-size: var(--font-size);
	height: 28px;
	line-height: 26px;
	margin: 0;
    margin-left: 12px;
	padding: 6px 10px 28px;
	text-decoration: none;
	white-space: nowrap;
}

.modal-content .infobox {
    margin: 20px;
    margin-left: 12px;
	padding: 12px 28px;
	border: solid 1px whitesmoke;
	width: fit-content;
}

.modal-content .errors {
    background-color: var(--error);
	border: solid 1px var(--error-dark);
}

.modal-content .info {
	background-color: var(--info);
	border: solid 1px var(--info-dark);
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
	visibility: hidden;
}